<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="/images/logoHeader.png" />

	<title> Pasteleria Dulce Tentación </title>
	<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/app.css">
</head>
<body>
<!-- Header -->
		<!-- utilizo el partial header asi se comporta de la misma manera en todas las paginas -->
<% if (user) { %>
    <%- include('./partials/headerLogueado') %>
<% } else { %>
    <%- include('./partials/header') %>
<% } %>
<!-- /Header -->

	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title"><%=detalle[0].nombre%></h2> 
			<p class="product-detail-description">
				<a href="/product/add">Editar</a>
			</p>
		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img class="imgProduct" src="/images/<%=detalle[0].imagen%>" alt="" class="product-detail-img">
					<p class="product-detail-description">
						<%=detalle[0].descripcion%></p>
				</article>
				<div class="col-12 col-lg-4">
					<section class="comments">
						<% for (let comentario of infoComentarios) { %>
				<article>
					<img class="imgProduct" src="/images/<%= comentario.usuario.foto %>" alt="">
					<div class="data">
						<p class="user">
							<strong>
								<a href="/user/profile/<%= comentario.usuario.id %>">
									<%= comentario.usuario.nombreUsuario %>
								</a>
							</strong>
						</p>
						<p class="contenido"><%= comentario.comentario %></p> <!-- acá va -->
					</div>
				</article>
				<% } %>



					</section>
					<% if (user) { %>
						<form class="form" action="/comments/create" method="POST">
							<input type="hidden" name="productId" value="<%= detalle[0].id %>">
							<textarea class="form-input" name="contenido" rows="3" placeholder="Agregá tu comentario" required></textarea>
							<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
						</form>
					<% } else { %>
						<p class="login-alert">
							Solo usuarios registrados pueden comentar. <a href="/user/login">Iniciá sesión aquí</a>.
						</p>

					<% } %>

					<hr>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->
<!-- footer -->
	<!-- utilizo el partial footer asi se comporta de la misma manera en todas las paginas -->
	<%- include('./partials/footer') %>
	<!-- /footer -->

</body>	
</html>